<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to EJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class= "jumbotron">
        <h2><%= welcome %></h2>
      </div>
      <div class="container">
        <form id="newTodo" class="table table-striped">
          <div class="form-group">
            <label for="exampleInputName2">To Do</label>
            <input id="name" type="text" class="form-control" name="name" placeholder="todo name">
          </div>
        <div class="form-group">
          <label for="exampleInputName2">Date</label>
          <input id="Date" type="text" class="form-control" date="date" placeholder="Date">
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Status</label>
          <input id="status" type="text" class="form-control" status="status" placeholder="status">
        </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Add a Todo</button>
          <button id="update_todo" type="update" class="btn btn-default btn-lg btn-block">Update Todo</button>
        </div>
    </form>
      <table class="table table-hover">
        <thead>
           <tr>
             <th><strong>Name</strong></th>
             <th><strong>date</strong></th>
             <th><strong>Status</strong></th>
          </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i<todos.length; i++) { %>
          <tr>
            <td><%= todos[i].name %></td>
            <td><%= todos[i].date %></td>
            <td><%= todos[i].status %></td>
          <% } %>
        </tbody>
      </tabl>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
