

body{
  background-image: url("http://www.freetexturesdownload.com/download/Wood-Free-Textures-14774.jpg");
}

.container2{
  background: white linear-gradient(to bottom, white, #e3dfdc 50%, White) no-repeat 99% center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  opacity: 10%;
}
#todo-list  {
  color:#f1071c ;
}
.container{
  background: Black linear-gradient(to bottom, black, #e3dfdc 50%, black) no-repeat 99% center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  opacity: 10%;
}
h1 {
  color: rgb(58, 161, 252);
  text-transform: capitalize;
  font-family: Arial, sans-serif;
}
h2 {
  color: rgb(55, 158, 249);
  text-transform: capitalize;
  font-family: Impact, sans-serif;
}

h3 {
  color: rgb(240, 240, 237);
  text-transform: capitalize;
  font-family: georgia, serif;
}
h4 {
  color: rgb(46, 119, 53);
  text-transform: capitalize;
  font-family: Impact, sans-serif;
}

.middle-column{
  background-color: red;
}
.side-bar{
  background-color: blue;
}
